  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    height: 80%;
}
.menu_main{
    width: 100%;
    height: 80px;
    background: #00302E;
    display: flex;
    justify-content: space-around;
}
.logo_img{
    width: 44px;
    height: 49px;
    
}

.header_logo{
    display: flex;
    align-items: center;
    margin-left: -17px;
}
.header_logo a{
    text-decoration: none;
    font-size: 25px;
    margin-left: 7px;
    margin-top: -2px;
    font-weight: 700;
    line-height: 38px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu_main_header{
    width: 651px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 182px;
    margin-top: -5px;
}
.menu_main_header a{
    text-decoration: none;
    
    font-size: 25px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu_main_menu{
    color: #FFC98B;
}
.menu_main_home, .menu_main_order, .menu_main_profile{
    color: #ffffff;
}
/* .banner_img{
    width: 100%;
    height: 621px;
} */
.banner_img img{
    width: 100%;
    height: 621px;
    object-fit: cover;

}
.banner{
    position: relative;
    text-align: center;
    color: white;
}
.banner_text {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 51.333%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 48, 46, 0.75);
  }
.banner_text p{
    width: 893px;
    height: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 62%;
    left: 51.111%;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 80px;
    line-height: 100px;
  }
.menu_mini{
    display: flex;
    height: 77px;
    width: 100%;
    justify-content:center;
    background: #E8E8E8;
    margin-top: -4px;
    align-items: center;
  }
.menu_text{
    color: #00302E;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.menu_text_2, .menu_text_3, .menu_text_4, .menu_text_5, .menu_text_5, .menu_text_6, .menu_text_7{
    margin-left: 60px;
    margin-right: 10px;
  }
.menu_text_1{
    margin-left: 24px;
    margin-right: 10px;
}
.listfood_1, .listfood_2, .listfood_3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listfood_1{
    margin-top: 76px;
}
.listfood_2, .listfood_3{
    margin-top: 3px;
}

.inforfood1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.infor_title1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #00302E;
    margin-bottom: 5px;
}
.infor_text1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 1010px;
    height: 60px;   
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 5px;
}
.infor_text2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.food{
    width: 354px;
    height: 389px;
    border: 1px solid #00302E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.food_img{
    width: 145px;
    height: 142.06px;
    border-radius: 400px;
    margin-top: 22px;
}
.food_name{
    width: 136px;
    height: 39px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    color: #00302E;
    margin-top: -28px;
    
}
.food_infor{
    width: 187px;
    height: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 0.69);
    margin-top: -46px;
}
.box_infor1{
    display: grid;
    gap: 53px 47px;
    grid-template-columns: auto auto auto;
    padding: 71px;
}
.footer_div_food{
    display: flex;
    width: 354px;
    justify-content: space-around;
    margin-bottom: 17px;
}
.food_price{
    font-family: 'Poppins', sans-serif;
    width: 104px;
    height: 33px;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    color: #00302E;
}
.btn_cart{
    border: none;
    background: none;
    width: 113px;
    height: 33px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    text-align: right; 
    color: #06E775;
}
.footer{
    width: 100%;
    height: 393px;
    background-color: #0B0D17;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer_1{
    display: flex;
    
    justify-content: space-between;
    width: 65%;
    margin-top: 30px;
}
.footer_1_menu p{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer_1_menu ul{
    margin: 0;
    padding: 0;
}
.footer_1_menu ul li{
    list-style: none;
    margin-top: 30px;
}

.footer_1_menu ul li a{
    text-decoration: none;
    color: white;
}
.footer_1_menu2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_1_menu2 p{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin-top: -35px;
}
.footer_1_menu2 img{
    width: 162px;
    height: 48px;
    margin-top: 30px;
}
.footer_2{
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_2_nd1 p{
    font-size: 16px;
    color: white;
}
.footer_2_icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13%;
}
.footer_2_icon_1{
    width: 35px;
    height: 35px;
 
    border-radius: 50%;
    position: relative;
    
}
.footer_2_icon_1 span img{
    width: 25px;
    height: 25px;
}
.footer_2_icon_1 span{
    position: absolute;
    top: 13%;
    left: 14%;
}
.huh{
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    opacity: 10%;
}