@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Cambay:ital@1&family=Poppins:wght@100&family=Schibsted+Grotesk:ital@1&display=swap'); */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 80%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* .menu_main{
    width: 100%;
    height: 80px;
    background: #00302E;
    display: flex;
    justify-content: space-around;
    list-style: none;
} */
.menu_main {
    width: 92%;
    height: 59px;
    display: flex;
    justify-content: space-between;
    background: #00302E;
    align-items: center;
    list-style: none;
    margin-left: 60px;
}

.header_logo{
    display: flex;
    align-items: center;
    margin-left: -17px;
}
.header_logo a{
    text-decoration: none;
    font-size: 25px;
    margin-left: 15px;
    /* margin-top: -2px;
    font-weight: 700;
    line-height: 38px; */
    color: white;
}

/* .menu_main_header{
    width: 651px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 182px;
    margin-top: -5px;
} */
.menu_main_header ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.menu_main_header ul li{
    list-style: none;
    margin-left: 50px;
}
.menu_main_header ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 300;
}
/* .menu_main_header a{
    text-decoration: none;
    
    font-size: 25px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.menu_main_header ul li.active a{
    color: #FBDDBB;
}
.menu_main_header ul li a:hover{
    text-decoration: none;
    color: #FBDDBB;
}
.banner{
    width: 100%;
    max-width: 100%;
    height: 621px;
    text-align: center;
    color: white;
    overflow: hidden;
    position: relative;
}

.banner .banner_img{
    display: flex;
    height: 100%;
    width: 600%;
    transition: all 0.4s ease;
}

.banner_img img{
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.hh{
    width: 100%;
    height: 621px;
}
.hh img{
    width: 100%;
    height: 621px;
    object-fit: cover;
}
/* .banner .banner_img{
    width: 100%;
    height: 621px;
    position: relative;
    overflow: hidden;
    left: 10px;
}

.banner .banner_img img{
    width: 100%;
    height: 621px;
    object-fit: cover;
    position: absolute;
} */
/* .banner .banner_img img:not(.active1){
    top: 0;
    left: -100%;
} */

.banner_text {

    position: absolute;
    width: 100%;
    height: 300px;
    top: 51.333%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 48, 46, 0.75);
  }
.banner_text p{
    width: 80%;
    height: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 62%;
    left: 51.111%;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 75px;
    line-height: 100px;
  }
.banner i:first-child{
    position: absolute;
    top: 46%;
    left: 30px;
    color: #06E775;
    font-size: 65px;
    opacity: 0.1;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
}

.banner i:last-child{
    position: absolute;
    top: 46%;
    right: 30px;
    color: #06E775;
    font-size: 65px;
    opacity: 0.1;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
}

.banner i:first-child:hover, .banner i:last-child:hover{
    opacity: 0.7;
    transform: scale(1.1);
}



/* .active1{
    background-color: #007e3f;
    
} */

  /*  */
.menu_mini{ 
    position: sticky;
    top: 0;
  }
  .menu{
    /* display: flex;
    height: 77px;
    width: 100%;
    background: #E8E8E8;
    margin-top: -4px;
    align-items: center;
    transition: 0.2s; */
    display: flex;
    height: 77px;
    width: 100%;
    background: #E8E8E8;
    margin-top: -4px;
    align-items: center;
    transition: 0.2s;
    justify-content: center;
    text-align: center;
    
  }
.menu_text{
    color: #00302E;
    /* font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 77px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; */
    font-weight: 700;
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    height: 77px;
    font-size: 17px;
    line-height: 56px;
    padding: 11px 15px;
    white-space: nowrap;
  }
.menu_text:hover{
    background: #8c8c8c;
}
/* .menu_text_2, .menu_text_3, .menu_text_4, .menu_text_5, .menu_text_6, .menu_text_7{
    margin-left: 60px;
    margin-right: 10px;
  }
.menu_text_1{
    margin-left: 24px;
    margin-right: 10px;
    
} */
.menu_text_1, .menu_text_2, .menu_text_3{
    width: 25%;
}
.menu_text_4, .menu_text_5, .menu_text_6, .menu_text_7{
    width: 15%;
}
/*  */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    background: #00302E;
    transition: .3s;
}
.menu_img {
    position: absolute;
    right: 82px;
    display: none;
    cursor: pointer;
    top: 14px;
}
.menu_img img{
    width: 165%;
}
.menu_small{
    backdrop-filter: blur(20px);
    width: 45%;
    display: none;
    position: absolute;
    top: 80px;
    right: 80px;
    border-radius: 15px;
    height: 0px;
    overflow: hidden;
}
.open_menu_small{
    height: 380px;
    border: 1px solid white;
}
.menu_small ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.menu_small ul li{
    list-style: none;
    margin-bottom: 30px;
    width: 80%;
    text-align: center;
}
.menu_small ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.menu_small ul li.active a{
    color: #FBDDBB;
}
.menu_small ul li:hover{
    border-left: 3px solid #FBDDBB;
    border-right: 3px solid #FBDDBB;
    background-color: rgb(255, 201, 139,.2);
}
/*  */
.listfood_1, .listfood_2, .listfood_3, .listfood_4, .listfood_5, .listfood_6, .listfood_7{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.listfood_1{
    margin-top: 26px;
}
.listfood_2, .listfood_3, .listfood_4, .listfood_5, .listfood_6, .listfood_7{
    margin-top: 3px;
}

.inforfood1, .inforfood2, .inforfood3, .inforfood4, .inforfood5, .inforfood6,.inforfood7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 80%;
}
.infor_title1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #00302E;
    margin-bottom: 5px;
}
.infor_text1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 100%;
    height: 80px;   
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 5px;
}
.infor_text2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.food{
    /* width: 354px; */

    height: 389px;
    border: 1px solid #00302E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.div_img_food{
    width: 145px;
    height: 145px;
    border-radius: 400px;
    margin-top: -24px;
}
.food_img{
    width: 145px;
    height: 142.06px;
    border-radius: 400px;
    object-fit: cover;
    margin-top: 19px;
}
.food_name {
    width: 100%;
    height: 39px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    color: #00302E;
    margin-top: -25px;
    text-align: center;
}
.food_infor {
    width: 80%;
    height: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 0.69);
    margin-top: -46px;
}
.box_infor1{
    width: 80%;
    display: grid;
    gap: 53px 47px;
    grid-template-columns: auto auto auto;
    padding: 71px;
}
.footer_div_food{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 17px;
}
.food_price{
    font-family: 'Poppins', sans-serif;
    width: 104px;
    height: 33px;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    color: #00302E;
}
#btn_cart7{
    border: none;
    background: none;
    width: 113px;
    height: 33px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    text-align: right; 
    color: #06E775;
    cursor: pointer;
}
.footer{
    width: 100%;
    height: 393px;
    background-color: #0B0D17;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer_1{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-top: 60px;
}
.footer_1_menu p{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer_1_menu ul{
    margin: 0;
    padding: 0;
}
.footer_1_menu ul li{
    list-style: none;
    margin-top: 30px;
}

.footer_1_menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: 100;
}
.footer_1_menu2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_1_menu2 p{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin-top: -66px;
}
.footer_1_menu2 img{
    width: 162px;
    height: 48px;
    margin-top: 30px;
}
.footer_2{
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.footer_2_nd1 p{
    font-size: 16px;
    color: white;
    font-weight: 100;
}
.footer_2_icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13%;
}
.footer_2_icon_1 span img{
    width: 32px;
    height: 32px;
}
/* */
footer{
    position: fixed;
    bottom: -20px;
    width: 96.115%;
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-bottom: 50px;
}

footer .shopping{
    position: relative;
    text-align: right;
    transition: 0.2s;
    cursor: pointer;
}

footer .shopping:hover{
    transform: scale(1.1);
}

footer .shopping img{
    width: 40px;
}
footer .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 70%;
    padding: 3px 10px;
}
/*  */
.card{
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #453E38;
    height: 100%;
    width: 40%;
    transition: 0.5s;
    z-index: 102;
}
.active .card{
    left: calc(150% - 90%);
}
/* .active .container{
    transform: translateX(-200px);
} */

.card h1{
    color: #E8BC0E;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;

}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut a{
    background-color: #E8BC0E;
    width: 100%;
    color: white;
    height: 70px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard{
    overflow: auto;
    height: 80%;
}
.listCard li{
    display: flex;
    /* grid-template-columns: 100px repeat(3, 1fr); */
    width: 100%;
    justify-content: space-evenly;
    color: #fff;
    /* row-gap: 10px; */
}
.listCard li div{
    width: 104px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li div p{
    text-align: left;
}
.listCard li img{
    width: 65px;
    height: 65px;
    border-radius: 400px;
    object-fit: cover;
}
.listCard li button{
    background-color: #fff5;
    border: none;
    width: 40px;
    height: 30px;
}
.listCard .count{
    margin: 0 10px;
}
.img_cart{
    width: 55px;
    height: 55px;
    border-radius: 400px;
    object-fit: cover;
}
.item, .item1, .item2, .item3, .item4, .item5, .item6{
    width: 27%;

    height: 389px;
    border: 1px solid #00302E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.item:hover, .item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover, .item6:hover{
    box-shadow: 5px 10px 18px #888888;
}
.food_img{
    width: 145px;
    height: 142.06px;
    border-radius: 400px;
    margin-top: 22px;
}

.list, .list1, .list2, .list3, .list4, .list5, .list6{
    width: 100%;
    
    /* display: grid;
    gap: 53px 47px;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    margin-top: 55px;
    margin-bottom: 40px;
} 
.list, .list3, .list6{
    height: 887px;
}
.list1, .list2, .list4, .list5{
    height: 460px;
}
.div_name{
    justify-content: left;
}
/* Laptop */
@media screen and (max-width: 1024px) {
    .menu_main_header ul li a {
        font-size: 19px;
    }
    .menu_main {
        width: 92%;
    }
    /* .logo_img {
        width: 39px;
        height: 45px;
    } */
    .header_logo a{
        font-size: 22.5px;
    }
        
    .banner_text {
        top: 51.333%;     
    }
    .menu_text_1, .menu_text_2, .menu_text_3 {
        width: 19%;
    }
    .menu_text_4, .menu_text_5, .menu_text_6, .menu_text_7 {
        width: 14%;
    }
    .menu_text {
        font-size: 14px;
        padding: 14px 27px;
    }
    .list, .list3, .list6 {
        max-width: 100%;
        height: 887px;
    }
    .list1, .list2, .list4, .list5{
        max-width: 100%;
    }
    .item, .item1, .item2, .item3 {
        width: 27%;
        margin-left: 0px;
    }
    .banner_text p {
        font-size: 58px;
        line-height: 87px;
        top: 207px;
    }
    .footer_div_food {
        width: 100%;
    }
    .active .card {
        left: 60%;
        height: 100%;
    }
    .listCard li div{
        font-size: 15px;
    }
    .infor_text1 {
        font-size: 18px;
    }
    .food_price {
        font-size: 18px;
    }
    #btn_cart7 {
        font-size: 18px;
    }
    .food_infor {
        font-size: 11px;
    }
    .food_name {
        font-size: 18px;
    }
}
@media screen and (max-width: 901px) {
    .menu_main_header {
        width: 360px;
    }
    .menu_main_header a{
        font-size: 18px;
    }
    .menu_main_header{
        display: none;
    }
    .menu_img{
        display: block;
        right: 43px;
    }
    .menu_small{
        display: block;
    }
    .menu_text {
        padding: 14px 11px;
        font-size: 13px;
    }
    .menu_img img {
        width: 123%;
        margin-top: -3px;
    }
    .menu_main {
        width: 86%;
        margin-left: 53px;
    }
}
/* Tablet */
@media screen and (max-width: 768px){
    .menu_main_header {
        width: 360px;
    }
    .menu_main_header a{
        font-size: 18px;
    }
    .menu_main_header{
        display: none;
    }
    .menu_img{
        display: block;
    }
    .menu_small{
        display: block;
    }
    .menu_text {
        padding: 14px 11px;
        font-size: 13px;
    }
    .menu_text_1, .menu_text_2, .menu_text_3 {
        width: 18%;
    }
    .menu_text_4, .menu_text_5, .menu_text_6, .menu_text_7 {
        width: 13%;
    }
    .banner_text p {
        font-size: 49px;
    }
    
    .banner_text p {
        top: 68%;
        line-height: 85px;
    }
    .footer_div_food {
        width: 93%;
    }
    .food_price {
        font-size: 17px;
    }

    .active .card {
        /* left: calc(100% - 307px); */
        height: 100%;
    }
    .header_logo {
        margin-left: -17px;
    }
    .menu_main{
        justify-content: space-between;
    }
    .listCard li div{
        width: 77px;
        font-size: 12px;
    }
    .listCard li button {
        width: 34px;
        height: 25px;
    }
    .infor_text1 {
        font-size: 15px;
        line-height: 27px;
    }
    .infor_title1 {
        font-size: 36px;
    }
    .infor_text2 {
        font-size: 18px;
    }
    #btn_cart7 {
        font-size: 15px;
    }
    .food_price {
        font-size: 15px;
    }
    .food_infor {
        font-size: 9px;
        margin-top: -26px;
    }
    .food_name {
        font-size: 18px;margin-top: -19px;
    }
    .food_img {
        width: 120px;
        height: 120px;
    }
    .div_img_food {
        width: 120px;
        height: 120px;
    }
    footer .shopping span {
        font-size: 15px;
        padding: 0px 7px;
    }
    footer .shopping img {
        width: 35px;
    }
}

/* Mobile */
@media screen and (max-width: 480px){
    .menu_main {
        height: 60px;
    }
    .header_logo a {
        font-size: 21.5px;
    }
    .logo_img {
        width: 25px;
        height: 31px;
    }
    .header_logo a {
        font-size: 20.5px;
    }
    .menu_img {
        width: 25px;
        right: 39px;
        top: 18px;
    }
    .header_logo {
        margin-left: -22px;
    }
    .menu_small {
        width: 43%;
        top: 68px;
        right: 38px;
    }
    .open_menu_small{
        height: 225px;
    }
    .menu_small ul {
        margin-top: 17px;
    }
    .menu_small ul li {
        margin-bottom: 11px;
        width: 76%;
        font-size: 18px;
    }
    .menu_small ul li a {
        font-size: 16px;
    }
    .banner {
        height: 360px;
    }
    .banner_text {
        top: 58.15%;
        height: 164px;
    }
    .banner_text p {
        top: 119%;
        line-height: 39px;
        font-size: 24px;
        width: 64%;
    }
    .banner i:first-child {
        top: 51%;
        left: 27px;
    }
    .banner i:last-child {
        top: 51%;
        right: 27px;
    }
    .menu_text {
        padding: 13px 8px;
        font-size: 8px;
    }
    .menu{
        height: 41px;
    }
    .menu_text_1, .menu_text_2, .menu_text_3 {
        width: 18%;
    }
    .menu_text_4, .menu_text_5, .menu_text_6, .menu_text_7 {
        width: 12%;
    }
    .infor_title1 {
        font-size: 27px;
        line-height: 51px;
        margin-bottom: 2px;
        margin-top: -8px;
    }
    .infor_text2 {
        font-size: 16px;
        line-height: 20px;
    }
    .item, .item1, .item2, .item3, .item4, .item5, .item6 {
        width: 41%;
        height: 260px;
        margin-left: 0px;
        margin-top: -89px;
    }
    .food_img {
        width: 73px;
        height: 73.06px;
        margin-top: -10px;
    }
    .div_img_food {
        width: 73px;
        height: 73.06px;
        margin-top: 26px;
    }
    .food_name {
        font-size: 14px;
        margin-top: -11px;
    }
    .food_infor {
        width: 80%;
        font-size: 8px;
    line-height: 16px;
        margin-top: -28px;
    }
    .infor_text1 {
        width: 100%;
        height: 65px;
        font-size: 9px;
        line-height: 20px;
        margin-bottom: -8px;
    }
    .footer_div_food {
        width: 80%;
    }
    .food_price {
        font-size: 12px;
    }
    #btn_cart7 {
        font-size: 12px;
    }
    .inforfood2{
        margin-top: -63px;
   }
   .list{
        margin-top: 60px;
   }
   .list1, .list2, .list3, .list4, .list5, .list6{
        margin-top: 92px;
   }
   .list3{
        margin-bottom: -31px;
   }
   .item1, .item2, .item4, .item5{
        margin-top: 7px;
        margin-bottom: 22px;
   }
   .listfood_3{
    margin-top: 24px;
   }
   .listfood_4, .listfood_5, .listfood_6 {
    margin-top: 30px;
   }
    footer .shopping img {
        width: 24px;
    }
    footer .shopping span {
        left: 79%;
        padding: 4px 10px;
        width: 10%;
        font-size: 12px;
        height: 63%;
        text-align: center;
    }
    .active .card {
        left: 50%;
    width: 50%;
    }
    .card .checkOut div {
        height: 32px;
        font-weight: normal;
        font-size: 10px;
    }
    .listCard li img {
        width: 51%;
    }
    .img_cart {
        width: 55px;
        height: 26px;
    }
    .listCard li div {
        width: 68px;
        font-size: 6px;
        height: 34px;
    }
    .listCard li button {
        width: 25px;
        height: 15px;
        font-size: 9px;
    }
    .listCard {
        margin-top: -14px;
    }
    .card h1 {
        font-size: 19px;
        padding: 0px 12px;
    }
}