*{
    margin: 0;
    padding: 0;
}
body{
    /*width: 100vw;*/
    height: 1024px;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.left{
    width: 52%;
    height: 100%;
    background-image: url(/image/Annotation\ 2023-04-03\ 214032.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.right{
    width: 48%;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: rgb(255, 255, 255);
    width: 75%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.welcome p{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: 00302E;
    margin-bottom: 77px;
}
.input{
    width: 100%;
    
}
.input input[type = "email"]{
    height: 80px;
    width: 93.5%;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 20px;
    border: 2px solid #00302E;
    margin-bottom: 56px;
}
.input input[type = "password"]{
    height: 80px;
    width: 93.5%;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 20px;
    border: 2px solid #00302E;
    margin-bottom: 56px;
}
.input button{
    height: 68px;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    background-color: #00302E;
    border: none;
    color: #FBDDBB;
    margin-bottom: 30px;
}
.forgot{
    width: 99%;
    display: flex;
    justify-content: space-between;
}
.forgot1 a{
    font-size: 15px;
    color: #00302E;
    text-decoration: none;
}
@media only screen and (max-width: 834px) {
    body{
        height: 1194px;
    }
    .container{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }
    .left{
        width: 100%;
        height: 100%;
        background-image: url(/image/Annotation\ 2023-04-03\ 214032.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .right{
        width: 60%;
        height: 55%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: transparent;
        border-radius: 15px;
        border: 1px solid white;
        backdrop-filter: blur(10px);
    }
   
    .form{
        background-color: rgb(255, 255, 255,0);
        width: 75%;
        height: 60%;
        display: flex;
    }
    .welcome p{
        font-size: 24px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        color: #ffffff;
        margin-bottom: 45px;
    }
    .input{
        width: 100%;
    }
    .input input[type = "email"]{
        height: 35px;
        width: 91%;
        border-radius: 7px;
        padding-left: 30px;
        font-size: 13px;
        border: 2px solid #00302E;
        margin-bottom: 40px;
    }
    .input input[type = "password"]{
        height: 35px;
        width: 91%;
        border-radius: 7px;
        padding-left: 30px;
        font-size: 13px;
        border: 2px solid #00302E;
        margin-bottom: 40px;
    }
    .input button{
        height: 28px;
        width: 100%;
        border-radius: 7px;
        font-size: 10px;
        background-color: #00302E;
        border: none;
        color: #FBDDBB;
        margin-bottom: 20px;
    }
    .forgot{
        width: 98%;
        display: flex;
        justify-content: space-between;
    }
    .forgot1 a{
        font-size: 10px;
        color: #ffffff;
        text-decoration: none;
    }
}

@media only screen and (max-width: 360px) {
    body{
        height: 640px;
    }
    .container{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }
    .left{
        width: 100%;
        height: 100%;
        background-image: url(/image/Annotation\ 2023-04-03\ 214032.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .right{
        width: 75%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: transparent;
        border-radius: 15px;
        border: 1px solid white;
        backdrop-filter: blur(10px);
    }
   
    .form{
        background-color: rgb(255, 255, 255,0);
        width: 75%;
        height: 60%;
        display: flex;
    }
    .welcome p{
        font-size: 12px;
        margin-bottom: 30px;
    }
    .input{
        width: 100%;
    }
    .input input[type = "email"]{
        height: 24px;
        width: 90%;
        border-radius: 7px;
        padding-left: 15px;
        font-size: 9px;
        border: 1px solid #00302E;
        margin-bottom: 25px;
    }
    .input input[type = "password"]{
        height: 24px;
        width: 90%;
        border-radius: 7px;
        padding-left: 15px;
        font-size: 9px;
        border: 1px solid #00302E;
        margin-bottom: 25px;
    }
    .input button{
        height: 19px;
        width: 100%;
        border-radius: 7px;
        font-size: 9px;
        background-color: #00302E;
        border: none;
        color: #FBDDBB;
        margin-bottom: 10px;
    }
    .forgot{
        width: 96%;
        display: flex;
        justify-content: space-between;
    }
    .forgot1 a{
        font-size: 6px;
    }
}